html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

.header img {
    max-width: 300px;
    width: 300px;
    margin: 20px auto;
}

.rides-header h2 {
    font-size: 40px;
    color: #555;
    font-weight: lighter;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.rides-header hr {
    margin: 0px 42%;
    margin-bottom: 2%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
    height: 60px;
    margin: 1px 100px;
}

.nav-left .nav-link {
    display: inline;
    text-decoration: none;
    font-size: 25px;
    color: #555;
    font-weight: 700;
    padding: 26px 30px;
    height: 100%;
}

.nav-right {
    padding: 0px 20px;
}

.nav-link.active {
    background-color: #4285F4;
    color: white;
}

.search-input {
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 10px 30px;
    margin: 10px 40px;
}

.user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #555;
    margin: -12px 5px;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-menu input[type="checkbox"] {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
    top: 50px;
}

.dropdown-menu a {
    color: #555;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.submenu-logout {
    border-top: 1px solid black;
}

.dropdown-menu a:hover {
    background-color: #f3f3f3;
}

.user-menu input[type="checkbox"]:checked+.dropdown-menu {
    display: block;
}

.rides-section {
    height: 77%;
    font-family: Arial, sans-serif;
}

.rides-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 1%;
}

.rides-table th,
.rides-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.rides-table a {
    color: #4285F4;
}

footer,
nav {
    margin-top: auto;
    text-align: center;
    font-size: 0.9rem;
    color: gray;
    padding: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.rides-finder {
    border: 1px solid #555;
    padding: 2% 4%;
    margin: 1% 5%;
}

.departure-arrive-wrapper {
    display: flex;
    justify-content: space-between;
}

.departure-arrive-information {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 2%;
}

.departure-arrive-information>select {
    padding: 7px 15px;
}

.form-group-days {
    display: flex;
}

.form-group-days>div>label {
    padding: 25px;
}

.search-rides-section>span {
    margin: auto 5%;
}

.search-rides-section>div>span>span {
    font-weight: bold;
}

.foto-perfil {
    display: flex;
    align-items: center;
}

.foto-perfil img {
    max-width: 40px;
    align-items: center;
}

.foto-perfil>div {
    margin: auto 3px;
}

.map-image {
    margin: 1% 5%;
}

.map-image>img {
    width: 100%;
}

.find-rides-btn {
    color: white;
    background-color: #4285F4;
    padding: 10px 30px;
    border: 1px solid #555;
    border-radius: 4px;
    white-space: nowrap
}

.ride-id {
    display: none;
}

@media only screen and (min-width: 390px) and (max-width: 1023px) and (min-height: 844px) and (max-height: 1365px) {
    .span-container {
        margin: auto 5px;
    }

    .navbar {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        /* Impide que se baje a la siguiente línea */
        height: 10px;
    }

    .nav-left {
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* Espacio entre los enlaces */
    }

    .nav-right {
        padding: 0px 0px;
    }

    .nav-left .nav-link {
        display: inline-block;
        align-items: center;
        padding: 7px 10px;
        font-size: 12px;
    }

    .search-input {
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 10px;
        padding: 4px 1px;
        margin: 1px auto;
        align-items: center;
    }

    .nav-right>img {
        width: 27px;
        align-items: center;
        height: auto;
    }

    footer,
    nav {
        margin-top: auto;
        text-align: center;
        font-size: 0.9rem;
        color: gray;
        padding: 5px 20px;
    }

    nav a {
        margin: 0px 2px;
        text-decoration: none;
        color: black;
    }

    .rides-finder {
        padding: 2% 1%;
        margin: 1% 1%;
    }

    .departure-arrive-information {
        gap: 4px;
    }

    .departure-arrive-information>select {
        padding: 3px 4px;
    }

    .form-group-days>div>label {
        padding: 0px;
    }

    .form-group-days {
        margin: auto 15px;
    }

    .departure-arrive-wrapper {
        display: block;
        justify-content: space-between;
    }

    .find-rides-btn {
        padding: 20px 50px;
        margin: 5px 10px;
    }

    .rides-table th,
    .rides-table td {
        padding: 4px 1px;
        font-size: 14px;
    }

    .rides-table th {
        padding: 4px 5px;
    }

    .foto-perfil {
        display: block;
        align-items: center;
        margin: auto auto;
        width: 100%;
    }

    .foto-perfil>div {
        display: flex;
        margin: 6px 0px;
        padding: 0px 0px;
        align-items: center;
        text-align: center;
    }

    .foto-perfil>div>img {
        max-width: 25px;
        width: 25px;
        align-items: center;
        margin: auto auto;
    }

    .foto-perfil>div>p {
        align-items: center;
        margin: 0px auto;
    }

    .map-image {
        margin: 1% 1%;
        height: 150px;
    }

    .map-image>img {
        height: 150px;
    }

    .search-rides-section {
        height: 78%;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1649px) and (min-height: 1366px) {
    .search-rides-section {
        height: 50%;
    }

    .map-image {
        margin: 1% 5%;
        height: 600px;
    }

    .map-image>img {
        height: 250px;
        align-items: center;
        text-align: center;
    }

    .span-container {
        margin: auto 50px;
    }
}

@media only screen and (min-width: 1650px) and (min-height: 1050px) {
    .map-image {
        margin: 1% 5%;
        height: 200px;
    }

    .map-image>img {
        height: 170px;
    }

    .span-container {
        margin: auto 82px;
    }

    .search-rides-section {
        height: 58%;
    }
}